.input {
  display: flex;
  width: 90%;
  position: relative;
  align-items: center;
}
.input__box {
  width: 100%;
  border-radius: 50px;
  padding: 20px 30px;
  font-size: 25px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
}
.input__box:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0 blue, 255);
  outline: none;
}
.input_submit {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 12px;
  border-radius: 50px;
  right: 0px;
  border: none;
  font-size: 15px;
  background-color: #2f74c0;
  color: white;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
}
.input_submit:hover {
  background-color: #388ae2;
}
.input_submit:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px black;
}
.todoList {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  flex-wrap: wrap;
}
.todoList__single {
  display: flex;
  width: 29.5%;
  border-radius: 5px;
  padding: 8px;
  margin-top: 15px;
  background-color: white;
}
.todoList__single--text {
  flex: 1;
  font-size: 15px;
  border: none;
  text-transform: capitalize;
}
.todoList__single--text:focus {
  outline: none;
}
.icon {
  margin-left: 7px;
  font-size: 16px;
  cursor: pointer;
  color: black;
}
.todo-container {
  align-items: center;
  display: flex;
}
input {
  width: 70%;
  font-size: 15px;
  outline: none;
  border: 0.5px solid #388ae2;
  border-radius: 5px;
  text-transform: capitalize;
}

@media (max-width: 700px) {
  .input {
    width: 95%;
  }
  .todoList {
    width: 95%;
  }
  .todoList__single {
    width: 100%;
  }
}
